<div class="form">

    <h1>Registrar Cliente</h1>

    <div class="tab-content">

        <form action="/">

            <div class="top-row">
                <div class="field-wrap">
                    <input type="text" required autocomplete="off" placeholder="Nombres" #nombre>
                </div>

                <div class="field-wrap">
                    <input type="text" required autocomplete="off" placeholder="Apellidos" #apellido>
                </div>
            </div>

            <div class="field-wrap">
                <input type="email" required autocomplete="off" placeholder="Correo" #correo>
            </div>

            <div class="field-wrap">
                <input type="text" required autocomplete="off" placeholder="Dirección" #direccion>
            </div>

            <div class="top-row">
                <div class="field-wrap">
                    <input type="number" required autocomplete="off" placeholder="Nit" #nit>
                </div>

                <div class="field-wrap">
                    <input type="number" required autocomplete="off" placeholder="Teléfono" #telefono>
                </div>
            </div>

            <button type="submit" (click)="save(nombre.value,apellido.value,correo.value,direccion.value,nit.value,telefono.value)" class="button button-block">Registrar</button>

        </form>

    </div>

</div>