<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#signup">Registrar</a></li>
    </ul>

    <div class="tab-content">
        <div id="signup">
            <h1>Registrar Cliente</h1>

            <form action="/" method="post">

                <div class="top-row">
                    <div class="field-wrap">
                        <label>Nombres<span class="req">*</span></label>
                        <input type="text" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>Apellidos<span class="req">*</span></label>
                        <input type="text" required autocomplete="off" />
                    </div>
                </div>

                <div class="field-wrap">
                    <label>Correo Electrónico<span class="req">*</span></label>
                    <input type="email" required autocomplete="off" />
                </div>

                <div class="field-wrap">
                    <label>Dirección<span class="req">*</span></label>
                    <input type="email" required autocomplete="off" />
                </div>

                <div class="top-row">
                    <div class="field-wrap">
                        <label>NIT<span class="req">*</span></label>
                        <input type="number" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>Teléfono<span class="req">*</span></label>
                        <input type="number" required autocomplete="off" />
                    </div>
                </div>

            </form>

        </div>

        <div id="login">
            <h1>Welcome Back!</h1>

            <form action="/" method="post">

            </form>

        </div>

    </div>
    <!-- tab-content -->

</div>
<!-- /form -->