<div class="form">

    <div class="tab-content">
        <h1>Actualizar Administrador</h1>

        <form action="/" method="post">

            <div class="top-row">
                <div class="field-wrap">
                    <label for="">{{admin.nombre}} {{admin.apellido}}</label>
                </div>

                <div class="field-wrap">
                    <label for="">{{admin.nit}}</label>
                </div>
            </div>

            <hr class="line">

            <div class="field-wrap">
                <input type="text" class="form-control" required value={{admin.correo}} #correo/>
            </div>

            <div class="field-wrap">
                <input type="number" class="form-control" required value={{admin.telefono}} required #telefono/>
            </div>

            <button title="Actualizar" type="button" class="button button-block" (click)="update(correo.value, telefono.value)">Actualizar</button>

        </form>

    </div>

</div>