<section>
    <app-sidebar></app-sidebar>
</section>
<section>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <i class="fa fa-list fa-5x"></i>
                                </div>
                                <div class="col-md-8">

                                    <h2 class="card-title text-center">
                                        <a>
                                            <span class="nav-text">Servicios</span>
                                        </a>
                                    </h2>
                                </div>

                                <div class="col-md-2">
                                    <button mat-raised-button (click)="openDialog()" class="btn btn-round btn-lg pull-right" style="background-color: black;">
                                        <a >
                                            <i class="fa fa-plus fa-2x text-white"></i>
                                        </a>
                                    </button>
                                </div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Fecha Ingreso
                                        </th>
                                        <th>
                                            Fecha Salida
                                        </th>
                                        <th>
                                            Kilometraje
                                        </th>
                                        <th>
                                            Falla
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let servicio of servicios; let i = index">
                                            <th scope="row">{{ i + 1 }}</th>

                                            <td>{{ servicio.fechaIngreso }}</td>
                                            <td>{{ servicio.fechaSalida }}</td>
                                            <td>{{ servicio.kilometraje }}</td>
                                            <td>{{ servicio.falla }}</td>
                                            <td>{{ servicio.status }}</td>

                                            <td>
                                                <a class="btn btn-primary btn-round text-white" (click)="openDashboardServicio(servicio.idServicio, servicio.idCliente, servicio.idVehiculo)"><i class="fa fa-eye" style="font-size:15px"></i></a>
                                                <a class="btn btn-danger btn-round text-white" *ngIf="servicio.status" (click)="archive(servicio.idServicio)"><i class="fa fa-archive" style="font-size:15px" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>