<main>
    <section id="blog">
        <app-carousel></app-carousel>
    </section>

    <section>
        <div class="share">
            <i class="fa fa-plus"></i>
        </div>
        <div>
            <h1 style="text-align: center; font-size: 50px;color:#3f51b5;">¿Porqué elegirnos?</h1>
        </div>
        <div style="text-align: left; margin-top: 50px;">
            <h4>Herramienta Especializada</h4>
            <img src="assets/img/llave.png" style="height: 300px;">
        </div>
        <div style="text-align: center; margin-top: -340px;">
            <h4>Equipo Altamente Calififcado</h4>
            <img src="assets/img/carrera.png" style="height: 300px;">
        </div>
        <div style="text-align:end; margin-top: -340px;">
            <h4>Repuestos Originales</h4>
            <img src="assets/img/abrazadera.png" style="height: 300px;">
        </div>
    </section>
    <section>
        <app-footer></app-footer>
    </section>

</main>