<div class="form">

    <div class="tab-content">
        <h1>Actualizar piezas</h1>

        <form action="/" method="post">

            <div class="field-wrap">
                <input type="text" class="form-control" placeholder="Código*" required #id/>
            </div>

            <div class="field-wrap">
                <input type="number" class="form-control" placeholder="Cantidad*" required #quantity/>
            </div>

            <button title="Actualizar" type="button" class="button button-block">Actualizar</button>

            <!-- (click)="actualizarPieza(id.value, quantity.value)" -->

            <div *ngIf="show" class="alert alert-info" role="alert">
                <label>#{{res}}</label>
            </div>

            <div *ngIf="empty" class="alert alert-warning" role="alert">
                <label>No pueden haber secciones vacías</label>
            </div>

        </form>

    </div>


</div>