<div class="form">

    <div class="tab-content">
        <h1>Actualizar pieza</h1>

        <form action="/" method="post">

            <div class="top-row">
                <div class="field-wrap">
                    <label title="nombre" for="">{{pieza.nombre}}</label>
                </div>

                <div class="field-wrap">
                    <label title="código" for="">{{pieza.codigo}}</label>
                </div>
            </div>

            <hr class="line">

            <div class="field-wrap">
                <input title="valor" type="number" class="form-control" required value={{pieza.valor}} #valor/>
            </div>

            <div class="field-wrap">
                <input title="cantidad" type="number" class="form-control" required value={{pieza.cantidad}} required #cantidad/>
            </div>

            <button title="Actualizar" type="button" class="button button-block" (click)="update(valor.value, cantidad.value)">Actualizar</button>

        </form>

    </div>


</div>