<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3f51b5;">
    <a class="navbar-brand text-white" href="#">Automatik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link text-white" [routerLink]="['/registroAdmin']">Registro Administrador</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link text-white" [routerLink]="['/pieza']">Registro Producto</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link text-white" [routerLink]="['/vehiculo']">Registro Vehiculo</a>
            </li>
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link text-white" [routerLink]="['/cliente']">Registro Cliente</a>
            </li>
        </ul>
        <form class="form-inline my-2 mx-4 my-lg-0">
            <button type="submit" class="btn btn-dark btn-lg">Login</button>
        </form>
    </div>
</nav>